@font-face {
  font-family: 'FS Sinclair';
  src: url('./assets/FS Sinclair/FS Sinclair Medium.otf') format('opentype');
}

@font-face {
  font-family: 'FS Sinclair';
  src: local('./assets/FS Sinclair/FS Sinclair Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: rgb(46, 46, 49);
  color: #fff;
}

.App {
  text-align: center;
  font-family: 'FS Sinclair';
}

.App-link {
  color: #61dafb;
}

.title {
  font-size: 30px;
}
.superEarth {
  fill: gray;
  opacity: 0.05;
  display: block;
  position: absolute;
  width: 40%;
}

.flexCol {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.flexRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

/* DISPLAY */

.displayContainer {
  width: 500px;
}

.comboIcon {
  height: 100px;
  width: 100px;
  margin: 10px 10px 20px 10px;
  padding: 10px;
  border: 1px solid yellow;
}

.comboName {
  width: 100%;
  font-family: 'FS Sinclair';
  font-size: 30px;
  padding: 10px;
  margin: 10px 10px 20px 10px;
  background-color: yellow;
  color: black;
  font-weight: 400;
}

.roundTracker {
  height: 100px;
  width: 120px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.roundValue {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
}

.scoreTracker {
  height: 100px;
  width: 120px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.scoreValue {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
}

/* COMBO ARROWS */

.comboContainer {
  padding: 5px;
}

.arrow {
  height: 80px;
  width: 80px;
  max-width: 80px;
}

.deactivated {
  stroke: gray;
  fill: gray;
}

.activated {
  stroke: orange;
  fill: orange;
}

.error {
  stroke: red;
  fill: red;
}