@font-face {
  font-family: 'FS Sinclair';
  src: url('./assets/FS Sinclair/FS Sinclair Medium.otf') format('opentype');
}

@font-face {
  font-family: 'FS Sinclair';
  src: local('./assets/FS Sinclair/FS Sinclair Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

html, body, #root, .App {
  width: 100%
}

body {
  background-color: rgb(46, 46, 49);
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.App {
  text-align: center;
  font-family: 'FS Sinclair';
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.flexCol {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.flexRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

/* TERMINAL */
.terminalContainer {
  width: 100%;
  max-width: 720px;
  border: 1px solid 0ff;
  box-sizing: border-box;
  /* margin: 10px; */
  padding: 20px 0 40px 0;
  text-align: center;
  font-family: 'FS Sinclair';
  font-size: 32px;
  /* box-shadow: inset 0px 0px 30px 2px #0ff; */
}

.title {
  font-size: 34px;
  color: black;
  background-color: yellow;
  box-shadow: 0px 0px 20px 2px yellow;
  height: 40px;
  width: 100%;
  padding: 10px;
  margin: 0;
}

.superEarth {
  fill: gray;
  opacity: 0.05;
  display: block;
  position: absolute;
  width: 40%;
}

/* DISPLAY */

.displayContainer {
  width: 100%;
  margin: 10px;
}

.display {
  width: 100%;
  padding: 20px 5px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.comboQueue {
  width: 100%;
  max-width: 460px;
}

.comboIcon{
  width: 80px;
  height: 80px;
  padding: 10px;
  margin: 10px 0 20px 0;
}

.activeIcon {
  height: 90px;
  width: 90px;
  border: 1px solid yellow;
  box-shadow: 0px 0px 10px 1px yellow, inset 0px 0px 3px 1px yellow;
}

.inactiveIcon {
  color: grey;
}

.roundTracker {
  height: 100px;
  width: 120px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.scoreTracker {
  height: 100px;
  width: 120px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.label {
  font-size: 20px;
  margin: 10px 0px;
}

.value {
  font-size: 36px;
  font-weight: 400;
  margin: 0;
}

.comboName {
  width: 100%;
  box-sizing: border-box;
  font-family: 'FS Sinclair';
  font-size: 30px;
  padding: 10px 0px;
  margin: 10px 0px;
  background-color: yellow;
  color: black;
  font-weight: 400;
  box-shadow: 0px 0px 20px 2px yellow;
  /* clip-path: rect(-200% auto 200% auto); */
}


/* COMBO ARROWS */

.comboContainer {
  padding: 5px;
  margin: 20px 0px;
}

.arrow {
  /* height: 80px; */
  width: 100%;
  max-width: 80px;
}

.deactivated {
  stroke: gray;
  fill: gray;
}

.activated {
  stroke: orange;
  fill: orange;
  /* box-shadow: 0px 0px 20px 2px orange;   */
  filter: drop-shadow( 0px 0px 20px 2px orange );
}

.error {
  stroke: red;
  fill: red;
}

/* PLAY TIMER */
.playTimer {
  -webkit-transition: width .3s ease;
  -o-transition: width .3s ease;
  transition: width .3s ease;
}