body {
  background-color: rgb(46, 46, 49);
  color: #fff;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.superEarth {
  fill: gray;
  opacity: 0.05;
}

.flexCol {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.flexRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.comboContainer {
  padding: 5px;
}

.arrow {
  height: 100px;
  width: 100px;  
}

.deactivated {
  stroke: gray;
  fill: gray;
}

.activated {
  stroke: orange;
  fill: orange;
}